/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* min-height: 100vh; */
    /* max-height: 100vh; */
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* Main Card */
.main {
    margin-top: -50px;
    background: rgba(191, 10, 10, 0.15);
    backdrop-filter: blur(15px);
    padding: 22px;
    border-radius: 16px;
    width: 80vw;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease;
}

/* Heading (optional if you add later) */
/* .main h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
} */

/* Form */
form {
    display: flex;
    gap: 12px;
}

/* Inputs & Select */

input,
select {
    font-size: 15px;
    font-weight: 600;
    margin-right: 13px;
    align-self: center;
    padding: 2px;
    height: 48px;
    border-radius: 8px;
    width: 20vw;
    border: none;
    outline: none;
    /* font-size: 14px; */
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
}

#optionpage {
    height: 35px;
    width: 5vw;
    margin-top: 30px;
    margin-left: -90vw;
}

input:focus,
select:focus {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}




.threebtn{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
   
}

/* Button */
button {
    margin-bottom: 5px;
    padding: 10px;
    width: 12vw;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(135deg, #ff512f, #dd2476);
    transition: all 0.3s ease;
}

#pagebtn {
    padding: 10px;
    width: 4vw;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(135deg, #ff512f, #dd2476);
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
}

/* Expense List */
#list {
    list-style: upper-latin;
    margin-top: 10px;
}

/* List Items */
#list li { 
    background: rgba(255, 255, 255, 0.85);
    margin-bottom: 10px;
    padding: 4px;
    width: 50vw;
    border-radius: 8px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideUp 0.4s ease;
    box-shadow: 0 5px 1
}

/* 
.buyMembership {
    margin-top: 80px;
    margin-right: 0px;
} */