* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form container */
form {
  background: #ffffff;
  padding: 50px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Labels */
label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px s;
}

button {
  margin-top: 5px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(109, 85, 175);
}
